.options-manager {
    float: left;
    width: 372px;
    line-height: 30px;
}
.wizard-description {
    width: 750px;
    height: 40px;
}
.options-manager-description {
    width: 600px;
    margin-left: 450px;
    height: 60px;
}
.file-manager {
    float: left;
}
.file-manager-description {
    width: 600px;
    margin-left: 450px;
    margin-top: 34px;
}
.get-new-api-key {
    float: left;
}
.api-key-field {
    float: right;
    width: 310px;
}
.update-options {
    float: right;
    margin-right: 28px;
}       
.file-manager-button {
    padding-left: 22px!important;
    padding-right: 21px!important;
}
.delete-button {
    padding-left: 21px!important;
}
.file-input-text {
    display: none;
}
.exist-text {
    color: #f00;
    display: none;
}
.file-manager-header {
    font-size: 12pt;
}
.filename {
    margin-top: 10px;
    height: 200px!important;
    width: 372px;
}
h1 {
    font-size: 16pt!important;
}